*{
    margin: 0px;
    padding: 0px;
}
h1{
    font: bold 20px Tahoma;
}
h2{
    font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
    display: block;
}
body {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}
#bigWrapper {
    width: 1000px;
    margin: 20px 0px;
    padding: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 0;
    border: 5px solid #8d2d9e;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: rgba(110,110,110,0.6) 10px 8px 8px;
    background: -webkit-linear-gradient(bottom, #f4f3ff, #b3fff5);
}
#topHeader {
    background:  #fcff71;
    border: 3px solid #0c00c1;
    padding: 30px;
}
#topMenu {
    border: #3276ff;
    background: #226dff;
    color: white;
}
#topMenu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px Tahoma;
}
#flexDiv {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#mainSection {
    border: 1px solid #ff2e36;
    background: #ffbf95;
    -webkit-box-flex: 1;
    margin: 20px;
    padding: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-box-flex: 10000;
}

#sideNews {
    border: 1px solid #1ba7ff;
    margin: 20px 0px;
    padding: 30px;
    background: #87d1c2;
    -webkit-box-ordinal-group: 1;
    -webkit-box-flex: 1;
}

#pageFooter {
    text-align: center;
    padding: 30px;
    border-top: 2px solid green;
}

#box {
    font-size: 20px;
    border: 1px solid #ffe593;
    text-align: center;
    display: block;
    margin: 10px;
    color: white;
    background: -webkit-radial-gradient(center, circle, #ffbf6d 0%, #fff683 80%);
    width: 90px;
    height: 50px;
    -webkit-border-radius: 100px;
    -webkit-box-shadow: rgb(110,110,110) 10px 8px 8px;
    -webkit-transform: translate(180px,-180px);
}

#box > p {
    padding: 12px;
    text-shadow: black 1px 1px 3px;
}












