
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
h1{
	color: #038BF3;
	text-align: center;
	background-color: white;
	padding-top: 40px;
	padding-bottom: 20px;

	border-color: black;
	border-style: dashed solid dashed solid;
	border-width: 5px 8px 5px 8px;
	font-style: oblique;
}
h3 {
	color: yellow;
	border: solid #2361DC 2px;
	padding: 5px;
	margin: 0px;
	width: 98%
}
h3{
	font-style:italic;
}
body{ 
	background-image:url(background.jpg);
	background-repeat: no-repeat:
	background-position: 50% 50%
}
z
a{
	background-color: yellow;
}
a:link {
	color: blue;
}
a:visited {
	color:white;
}
a:hover{
	color: red;
	text-decoration: none;
}
a:active{ 
	background-color: blue;
}
ul{
	color: purpe;
	list-style-image: url("http://www.csgobetkings.com/css/emoticons/emoticon_heart.png");
	border: 3px solid purple;
	background-color: pink;
}
a, h2{
	font-weight: bold;
	color: blue;
}
span{
	color: blue;
}
div{
	width: 99.5%;
	right: 10%;
	color: #038BF3;
	background-color: white;
}
p:first-letter{
	font-size: 30px;
}
p:first-line{
	font-family: italic;
}
p{
	font-family: arial;
}
tr > th {
	color: green;
}
th:nth-child(1)
{
	color: orange;
}
h1{
	color: green;
}
#blue {
	font-family: 'Roboto', sans-serif;
}
#bigWrapper {
	border: 8px solid dodgerblue;
	width: 1000px;
	margin: 0px auto;
	padding: 10px
}
#list li {
	display: inline-block;
	padding: 5px;
	font: bold 14px Tahoma;
	text-align: center;
}
#pageFooter{
	text-align: center;
	padding: 20px;
	border-top: 2px solid blueviolet;

}
h1{
	color: #038BF3;
	text-align: center;
	background-color: white;
	padding-top: 40px;
	padding-bottom: 20px;

	border-color: black;
	border-style: solid;
	border-width: 2px;
	font-style: oblique;
	display: block;
	margin-top: 0px;
}












