h1{
	color: #038BF3;
	text-align: center;
	background-color: white;
	padding-top: 40px;
	padding-bottom: 20px;
	
	border-color: black;
	border-style: dashed solid dashed solid;
	border-width: 5px 8px 5px 8px;
	font-style: oblique;
}
h3 {
	color: yellow;
	border: solid #2361DC 2px;
	padding: 5px;
	margin: 0px;
	width: 98%
}
h3{
	font-style:italic;
}
body{ 
	background-image:url(background.jpg);
	background-repeat: no-repeat:
	background-position: 50% 50%
}

a{
	background-color: yellow;
}
a:link {
	color: blue;
}
a:visited {
	color:white;
}
a:hover{
	color: red;
	text-decoration: none;
}
a:active{ 
	background-color: blue;
}
ul{
	color: purpe;
	list-style-image: url("http://www.csgobetkings.com/css/emoticons/emoticon_heart.png");
	border: 3px solid purple;
	background-color: pink;
}
a, h2{
	font-weight: bold;
	color: blue;
}
span{
	color: blue;
}
div{
	width: 99.5%;
	right: 10%;
	color: #038BF3;
	background-color: white;
}
p:first-letter{
	font-size: 30px;
}
p{
	font-family: arial;
}



		
		
		
		
		
		
		
		
