#leftBox{
    float: left;
    width: 400px;
    height: 400px;
    margin: 5px;
    border: 5px solid #ffa4e2;
}

#rightBox{
    float: left;
    width: 400px;
    height: 400px;
    margin: 5px;
    border: 5px solid #afe5ff;
}

#iceCream{
    max-height:200px;
}